img {
    width: 100%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
}

.col-sm-6 {
    box-sizing: border-box;
}

.meh {
    background: red;
}

.heh {
    background: blue;
}

.row {
    background: green;
}

#blank1 {
    color: gray;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

.flexbox-container {
    display: flex;
}

.flexbox-container * {
    height: 200px;
    width: 200px;
    background-color: gray;
    margin-right: 10px;
}


/*CAN BE DELETED*/
.menu-item {
    border: 2px solid green;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu {
    height: 40px;
    width: 120px;
    background: aqua;
    position: absolute;
    cursor: pointer;
}
/*CAN BE DELETED*/