img {
    width: 100%;
}
h1 {
    color: red;
    text-align: center;
    font-size: 72px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
}

.col-sm-6 {
    box-sizing: border-box;
}

.meh {
    background: red;
}

.heh {
    background: blue;
}

.row {
    background: green;
}

#blank1 {
    color: gray;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

.flexbox-container {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #00d6b2;
    justify-content: right;
}

.flexbox-container * {
    height: 100px;
    width: 100px;
    background-color: gray;
    margin-right: 10px;
}


/*CAN BE DELETED*/
.menu-item {
    border: 2px solid green;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu {
    height: 40px;
    width: 120px;
    background: aqua;
    position: absolute;
    cursor: pointer;
}
/*CAN BE DELETED*/