* {
    box-sizing: border-box;
}


img {
    width: 100%;
}
h1 {
    color: red;
    text-align: center;
    font-size: 72px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
}

.col-sm-6 {
    box-sizing: border-box;
}

.meh {
    background: red;
}

.heh {
    background: blue;
}

.row {
    background: green;
}

#blank1 {
    color: gray;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

.flexbox-container {
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #00d6b2;
    justify-content: right;
}

.flexbox-container * {
    height: 100px;
    width: 100px;
    background-color: gray;
    margin-right: 10px;
}

/* Carousel styles */
.carousel-container {
    width: 600px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 20px;
    width: auto;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    transition: 0.3s;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgb(0, 0, 0);
}
.description {
    color: red;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.fade-js {
    -webkit-animation-name: fading;
    -moz-animation-name: fading;
    -o-animation-name: fading;
    animation-name: fading;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

@keyframes fading {
    0% { opacity: 0.4 }
    100% { opacity: 1 }
}

.elem {
    height: 100px;
}
.one {
    background-color: red;
}
.two {
    background-color: green;
}
.three {
    background-color: blue;
}

.css-only {
    max-width: 1600px;
    margin: auto;
    background: #000 url("../img/Layer 96.png") no-repeat;
    background-size: cover;
    height: 700px;
    padding: 30px 206px 30px 227px;

}
.css-only .blank {
    width: 67px;
    height: 67px;
    background: white;
    position: absolute;
}
.css-only img {
    width: auto;
    background-color: white;
    transform: translate(-12px, -8px);
}


.scroll-test-class {
    display: flex;
    flex-direction: column;
}
.scroll-test-class .scroll-div {
    width: 100%;
    height: 150px;
    background-color: blue;
    margin-bottom: 5px;
}
.scroll-test-class .scroll-div[class~=active] {
    background: red;
}
.act {
    background: red;
}
#deactivative {
    height: 50px;
}
/* EDuCATION */
#education {
    padding-top: 20px;
}
#education .edu-container {
    justify-content: space-between;
}
#education .edu-container > div {
    width: 45%;
    flex-direction: column;

}
#education .pics-container img {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
#education .pics-container img.photo {
    width: 100%;
}
#education .edu-container .text-container div .edu-information {
    text-align: left;
}
#education .edu-container .text-container span {
    display: block;
    font-size: 18px;
    border-radius: 20px;
}
#education .edu-container .text-container span.button-bachelor {
    background-color: tomato;
}
#education .edu-container .text-container span.button-master {
    background-color: crimson;
}
#education .edu-container .text-containe .edu-information {
    height: 0;
    width: 80%;
    margin: 0 auto;
    background-color: #999999;
}

#mifotovid-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background-color: #ff0000dd;
}



/*CAN BE DELETED*/
.menu-item {
    border: 2px solid green;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-item .submenu {
    height: 40px;
    width: 120px;
    background: aqua;
    position: absolute;
    cursor: pointer;
}
/*CAN BE DELETED*/