<!doctype html>
<html lang="ru"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <title>Test project</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Tests</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#collapsedNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsedNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#contactModal">
                    Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal"
                   data-target="#registrationModal">Registration</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-md-0">
            <input class="form-control mr-sm-2" placeholder="Search..." aria-label="Search...">
            <button type="submit" class="btn btn-success my-2 my-sm-0">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid p-0" id="cont">
    <div class="row m-0">
        <div class="col-lg-6 p-0">
            <div class="carousel slide" data-ride="carousel" id="carousel">
                <!--Indicators-->
                <ul class="carousel-indicators">
                    <li class="active" data-target="#carousel" data-slide-to="0"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ul>

                <!--Pics-->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/1.jpg" alt="1" >
                        <div class="carousel-caption">
                            <h3>City</h3>
                            <p>Night city</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/2.jpg" alt="2" >
                        <div class="carousel-caption">
                            <h3>Road</h3>
                            <p>Hot road</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/3.jpg" alt="3" >
                        <div class="carousel-caption">
                            <h3>Space</h3>
                            <p>Beauty of darkness</p>
                        </div>
                    </div>
                </div>

                <!--Prev-Next-->
                <a class="carousel-control-next" href="#carousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
                <a class="carousel-control-prev" href="#carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 p-0">
            <div class="container-fluid p-0">
                <div class="row m-0">
                    <div class="col-sm-6 p-0 meh ">
                        <div>
                            <select name="fruit" id="mySelect"
                                    class="custom-select" onchange="selFunc()">
                                <option name="fruit">Orange</option>
                                <option name="fruit">Watermelon</option>
                                <option name="fruit">Apple</option>
                                <option name="fruit">Apricot</option>
                            </select>
                        </div>
                        <div id="rangeApp">
                            <input id="rangeAppInput" type="range"
                                   min="0" max="500" v-model="range" v->
                            <br/>
                            <p id="range-result">
                                {{ range }}
                            </p>
                        </div>

                        <div id="app">
                            Test:
                            <input type="number" v-model="message">
                            <br />
                            <h1> {{ message }}</h1>
                        </div>

                        <div id="app-4">
                            <ol>
                                <li v-for="todo in todos">
                                    {{ todo.text }}
                                </li>
                            </ol>
                        </div>

                        <div id="testId">
                            <div>
                                <div>
                                    <label>
                                        FirstName:
                                        <input v-model.trim="firstName" type="text" >
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        LastName:
                                        <input v-model.trim="lastName" type="text" >
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        FullName:
                                        <input v-model="fullName" type="text" >
                                    </label>
                                </div>
                                <div>
                                    <div>
                                        <label>{{ firstName }}</label>
                                    </div>
                                    <div>
                                        <label>{{ lastName }}</label>
                                    </div>
                                    <div>
                                        <label>{{ fullName }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="toDoList">
                            <div>
                                <label>
                                    Input task:
                                    <input id="inputToDo" type="text"
                                           v-on:keyup.enter="addTask">
                                </label>
                                <button id="zaeb" type="button" v-on:click="addTask">Add</button>
                            </div>
                            <div>
                                <ul>
                                    <li v-for="item in list">{{ item }}</li>
                                </ul>
                            </div>
                        </div>

                        <div id="test-checkbox">
                            <label><input type="checkbox" v-model="checked">{{ checked }}</label>
                        </div>

                        <div id='example-3'>
                            <label><input type="checkbox" value="Jack" v-model="checkedNames">Jack</label>
                            <label><input type="checkbox" value="John" v-model="checkedNames">John</label>
                            <label><input type="checkbox" value="Mike" v-model="checkedNames">Mike</label>
                            <br>
                            <span>Checked names: {{ checkedNames }}</span>
                        </div>

                        <!--<div id="components-demo">-->
                            <!--<button-counter></button-counter>-->
                            <!--<blog-post title="Test blog-post title"></blog-post>-->
                            <!--<blog-post-->
                                    <!--v-for="post in posts"-->
                                    <!--v-bind:key="post.id"-->
                                    <!--v-bind:post="post"></blog-post>-->
                        <!--</div>-->


                        <div id="blog-posts-events">
                            <div :style="{ fontSize: postFontSize + 'em' }">
                                <blog-post
                                        v-for="post in posts"
                                        v-bind:key="post.id"
                                        v-bind:post="post"
                                        v-on:enlarge-text="postFontSize += 0.1"
                                        v-on:reduce-text="postFontSize -= 0.1"
                                ></blog-post>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 p-0 heh" >
                        <!--/*CAN BE DELETED*/-->
                        <div class="nav" id="nav">
                            <div class="menu-item">
                                Menu 1
                                <div class="submenu">
                                    Submenu 1
                                </div>
                            </div>
                            <div class="menu-item">
                                Menu 2
                                <div class="submenu">
                                    Submenu 2
                                </div>
                            </div>
                            <div class="menu-item">
                                Menu 3
                                <div class="submenu">
                                    Submenu 3
                                </div>
                            </div>
                        </div>
                        <div>
                            just another cool div
                        </div>
                        <!--/*CAN BE DELETED*/-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Contact modal-->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog"
    aria-labelledby="contactModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact modal window
                </h5>
                <button class="close" type="button" data-dismiss="modal"
                aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to contact author?
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary">Confirm</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog"
    aria-hidden="true" aria-labelledby="registrationModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registrationModalLabel">Registration
                </h5>
                <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group">
                            <label for="emailInput">Email:</label>
                            <input type="email" class="form-control" id="emailInput"
                            aria-describedby="emailHelp" placeholder="email" required>
                            <small id="emailHelp" class="form-text text-muted">
                                Enter you email
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">Email:</label>
                            <input type="password" class="form-control" id="passwordInput"
                                   placeholder="password" minlength="10" required>
                            <small id="passwordHelp" class="form-text text-muted">
                                Password must be 10 or more symbols
                            </small>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                                Remember me
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--VueJs-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Developer's scripts-->
<script src="js/scripts.js"></script>
</body>
</html>